[row='0'][col='0'],
[row='0'][col='2'],
[row='0'][col='4'],
[row='0'][col='6'],
[row='1'][col='1'],
[row='1'][col='3'],
[row='1'][col='5'],
[row='1'][col='7'],
[row='2'][col='0'],
[row='2'][col='2'],
[row='2'][col='4'],
[row='2'][col='6'],
[row='3'][col='1'],
[row='3'][col='3'],
[row='3'][col='5'],
[row='3'][col='7'],
[row='4'][col='0'],
[row='4'][col='2'],
[row='4'][col='4'],
[row='4'][col='6'],
[row='5'][col='1'],
[row='5'][col='3'],
[row='5'][col='5'],
[row='5'][col='7'],
[row='6'][col='0'],
[row='6'][col='2'],
[row='6'][col='4'],
[row='6'][col='6'],
[row='7'][col='1'],
[row='7'][col='3'],
[row='7'][col='5'],
[row='7'][col='7'] {
  background-color: var(--light-square-color);
}

.square {
  position: relative;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  cursor: default;
  user-select: none;
  font-weight: bold;
  background-color: var(--dark-square-color);
}

.square::after {
  content: '';
  border-radius: 50%;
}

.square.potential-move::after {
  width: 18px;
  height: 18px;
  background-color: rgba(117, 117, 117, 0.65);
}

.square.potential-capture::after {
  width: 58px;
  height: 58px;
  border: 5px solid rgba(117, 117, 117, 0.65);
}

.square.highlight {
  background-color: rgba(0, 128, 128, 0.75);
}

/* rows and cols, not ranks and files */
.row-col-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  z-index: 999;
  /* comment for debug: */
  display: none;
}


.rank-indicator,
.file-indicator {
  position: absolute;
  color: black;
  font-size: 12px;
  /* uncomment for debug: */
  /* display: none;  */
}

.board.pov-w .rank-indicator.pov-b,
.board.pov-w .file-indicator.pov-b {
  display: none;
}

.board.pov-b .rank-indicator.pov-w,
.board.pov-b .file-indicator.pov-w {
  display: none;
}

.rank-indicator {
  top: 4px;
  left: 4px;
}

.file-indicator {
  bottom: 0px;
  right: 4px;
  text-transform: uppercase;
}